@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f0f0f6;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb {
  background: #5b5ce2;
  width: 9px;
  border-radius: 6px;
}
